:root {
  --white: rgb(255, 255, 255);
  --gray-300: rgb(176, 176, 176);
  --gray-600: rgb(60, 60, 60);
  --gray-800: rgb(35, 35, 35);
  --gray-900: rgb(18, 18, 18);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--gray-900);
  color: var(--gray-300);
  min-height: 100vh;
}

body,
input,
textarea,
button {
  font: 400 1rem "Roboto", sans-serif;
}
