.wrapper {
  display: flex;
  padding: 1.25rem;
  gap: 1.25rem;
  min-height: 100vh;
}

.wrapper aside {
  width: 300px;
  padding: 1.25rem;
  background: var(--gray-600);
}

.wrapper main {
  width: 100%;
  padding: 1.25rem;
  background: var(--gray-800);
}
