.wrapper {
  display: flex;
  padding: 1.25rem;
  align-items: flex-start;
  gap: 1.25rem;
  min-height: calc(100vh - 70px);
  height: 100%;
}

.wrapper aside {
  width: 300px;
  padding: 1.25rem;
  background: var(--gray-600);
  height: 100%;
}

.wrapper main {
  flex: 1;
  padding: 1.25rem;
  background: var(--gray-800);
}
